@model CodeGames2017.CustomerRating.Reporting.Model.FeatureViewModel

@{
    ViewBag.Title = "Feature";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Feature</h2>

<div>
    <h4>FeatureViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<table>
    <tr>
        <td>Feature Id</td>
        <td>Feature Name</td>
    </tr>
</table>