@model CodeGames2017.CustomerRating.Reporting.Models.ApplicationViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    @foreach (var app in Model.Applications)
    {
        <tr><td>@app.ApplicationId</td><td>@app.ApplicationName</td><td>@Html.ActionLink("View Report", "Feature", "CustomerRatings", new { @class = "elements", @applicationId = @app.ApplicationId }, null)</td></tr>

    }
</table>