@model CodeGames2017.CustomerRating.Reporting.Model.ApplicationViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    @foreach (var app in Model.Applications)
    {
        <li>@app.ApplicationId, @app.ApplicationName</li>
        <ul>
            @foreach (var feature in app.Features)
            {
                <li>@feature.FeatureId, @feature.FeatureName</li>
            }
        </ul>
    }
</ul>
