@model CodeGames2017.CustomerRating.Reporting.Models.ReportingViewModel

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report</h2>

<div>
    @foreach (var feature in Model.Features) {
        <li>@feature.FeatureId, @feature.FeatureName</li>

    }
</div>