@model CodeGames2017.CustomerRating.Reporting.Models.ReportingViewModel

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report</h2>

<table>
    @foreach (var app in Model.Applications) {
        <li>@app.ApplicationId, @app.ApplicationName</li>

    }
</table>